
$green: #00b47b;

.signup-form {
    input {
        border: 1px solid lightgrey;
        border-radius: 4px;
        margin: 10px;
        padding: 10px;
        min-width: 200px;
    }

    .signup-submit {
        background-color: $green;
        margin-top: 40px;
        font-size: 1.25em;
    }

    .signup-input {
        &--half {
            width: 45%;
            // margin: auto;
        }

        &--fourth {
            width: 22.5%;
        }
    }
}